apiVersion: v1
kind: Service
metadata:
  name: app-service
spec:
  type: LoadBalancer   # or LoadBalancer (EKS)
  selector:
    app: myapp
    version: blue
  ports:
  - port: 80
    targetPort: 80
